.wrap-wcyp pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f2334c;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
.wrap-wcyp .button-danger{
  background-color: #7E0507 !important;
  color: #FFF !important;
  border: 1px solid #640406 !important;
}
.wrap-wcyp .button-danger:hover{
  background-color: #FFF !important;
  color: #640406 !important;
  border: 1px solid #640406 !important;
}